<?xml version='1.0' encoding='utf-8'?>
<config><theme>vapor</theme><language>fr</language><font>Segoe UI</font><window_width>950</window_width><window_height>700</window_height><themes>cosmo,flatly,journal,litera,minty,pulse,sandstone,united,yeti,darkly,superhero,cyborg,solar,vapor</themes><font_choices>Arial,Courier,Times New Roman,Verdana</font_choices><default_width_cm>25</default_width_cm><default_height_cm>20</default_height_cm><title_fontsize>16</title_fontsize><axis_fontsize>12</axis_fontsize><legend_fontsize>10</legend_fontsize><legend_ncol>2</legend_ncol><legend_loc>upper center</legend_loc><legend_bbox>(0.5, -0.2)</legend_bbox><plot_figsize>(10, 8)</plot_figsize><color_default>No Color</color_default><color_bg>white</color_bg></config>