<?xml version='1.0' encoding='utf-8'?>
<config><theme>vapor</theme><language>fr</language><font>Segoe UI</font><window_width>500</window_width><window_height>400</window_height><themes>cosmo,flatly,journal,litera,minty,pulse,sandstone,united,yeti,darkly,superhero,cyborg,solar,vapor</themes></config>